body {
    margin: 0;
    min-height: 100svh;
    font: 14px 'JetBrainsMono',monospace;
    color: #fff;
    text-align: center;
    background: url("wallhaven-3kkgl6.jpg") center/cover fixed;
    /* background-color: rgb(27,27,27); */
    display: flex;
    flex-direction: column;
}

body:before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(37,37,37,0.5);
    pointer-events: none;
}

body * {
    position: relative;
    z-index: 1;
}

main {
    max-width: 1000px;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

a {
    color: rgb(0, 162, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.h1-404 {
    font-size: 6em;
    margin: 0 auto;
}

@media(max-width:600px){
    body { gap:15px; padding:0 10px; }
    main { padding:15px; }
    h1 { font-size:1.5rem; }
    h2,h3 { font-size:1.1rem; margin:12px 0; }
    .info { display:block; }
}

@font-face{
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}